<!--<button mat-raised-button>Primary</button>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>


<button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
</button>-->


<div class="container">
    <div class="left-container">
        <div class="top-div">
            <!--Conteudo da div superior-->
            <app-filter></app-filter>
        </div>
    <div class="main-left-div">
    <!--Conteudo da div esquerdo (80% de altura)-->
    <app-users-list [usersList]="usersList" (userSelected)="onUserSelected($event)"></app-users-list>
    
    
    </div>
</div>
<div class="right-div">
    <!--Conteudo da div direita-->
    <app-user-details [user]="userSelected" *ngIf="showUserDetails"></app-user-details>
    
</div>

</div>